body {
    background-color:#F3E9DC;
    font-family: sans-serif;
}
h1 {
    color: #5E3023;
    text-align: center;
    font-size: 60px;

}
h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #C08552;
}
span {
    color: #C08552;


}
p {
    color: #895737;
    font-size: 20px;
    

}
#mainpicture {
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 60%;
    width: 40%;
   
}
div {
    text-align: center;
}
li {
    margin: 20px;
    color: #895737

}
#quote {
    font-size: 15px;
    font-style: italic;
}
